<!DOCTYPE html>
<html>
        <head>
            <title>Lottery Number Generator</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        </head>

        <body>
            <h1>Lottery Number Generator</h1>
            <p>Select a lottery game and click the button to generate numbers</p>
        <div>
            <select id="game">
                <option value="megabucks">Oregon Megabucks</option>
                <option value="mega-millions">Mega Millions</option>
                <option value="pick4">Pick 4</option>
                <option value="powerball">Powerball</option>
                <option value="keno">Keno</option>
            </select>
            <button onclick="getNums()">Generate</button>
             <p id="result"></p>
        </div>
            <script>
                function getNums() {
                    const game = document.getElementById("game").value;

                    fetch(`/generate/${game}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("result").textContent = data.join(", ");
                        });
                }
            </script>
    </body>
</html>